<div class="wrapper_with_padding">
  <div id="note_show">
    <h1><%= @note.title %></h1>
    <p><%= simple_format(@note.content)%></p>
    <div class="buttons">
      <%= link_to "Home", notes_path %>
      <%= link_to "Edit", edit_note_path(@note)%>
      <%= link_to "Delete", note_path, method: :delete, data: {confirm:"Are you sure?"}%>
    </div>
  </div>
</div>
